<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/css/mdb.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />
    <link
      href="/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Admin</title>
  </head>
  <body>
    <div class="container mt-5">

      <h1>halo</h1>
      <div class="row mt-2">
        <div class="col-md-12">
          <% if(messages.error){%>
          <div class="alert alert-danger"><%- messages.error %></div>
          <%}%>
          <% if(messages.success){%>
            <div class="alert alert-danger"><%- messages.success %></div>
            <%}%>
        </div>
      </div>
      <%- include('partials/addModal') %>

      <%- include('partials/tabel', { users: users })%>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script
      src="/dist/js/mdb.min.js""
    ></script>
    <script
      src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"
    ></script>
    <script
      src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"
    ></script>

    <script>
      $(document).ready(function () {
        $("#example").DataTable();
      });
    </script>
  </body>
</html>
